<title>Movies</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/pure.css"/>
<style>
.score-high { background-color: rgb(28, 184, 65); padding: 0 0.5em; }
.score-good { background-color: rgb(66, 184, 221); padding: 0 0.5em; }
.score-medium { background-color: rgb(223, 117, 20); padding: 0 0.5em; }
.score-low { background-color: rgb(202, 60, 60); padding: 0 0.5em; }
</style>
