/* no use, for back up */
p {
  margin: 0;
}

a {
  color: #006bb8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.entry-wrapper {
  background: #e7e7e7;
  border: 3px solid #f1f1f1;
  border-radius: 5px;
  display: inline-block;
  font-family: "Microsoft Yahei",Tahoma, Helvetica, Arial;
  margin: .25em;
  padding: 10px;
  width: 90%;
}

.entry-wrapper:hover {
  border: 3px solid #f4f4f4;
  background: #edfdff;
}

.entry-title a {
  color: #333;
  font-size: 1.5em;
  font-weight: bold;
}

.entry-date {
  color: #999;
  padding-bottom: .75em;
  font-size: .75em;
}